[submodule "Inconsolata-LGC"]
	path = Inconsolata-LGC
	url = https://github.com/MihailJP/Inconsolata-LGC.git
[submodule "genseki-font"]
	path = genseki-font
	url = https://github.com/ButTaiwan/genseki-font.git
[submodule "GenSekiHentaiganaGothic"]
	path = GenSekiHentaiganaGothic
	url = git@github.com:MihailJP/GenSekiHentaiganaGothic.git
